@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

    .container{
        gap:30px;
        height: 100vh;
        width: 100vw;
    
      
    }



.head{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.all{
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(244, 246, 248);
    border:2px solid darkgoldenrod;
    color:darkgoldenrod ; 
}

.Breakfastt{
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(244, 246, 248);
    border:2px solid darkgoldenrod;
    color:darkgoldenrod ;  
}

.Lunchh{
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(244, 246, 248);
    border:2px solid darkgoldenrod;
    color:darkgoldenrod ;   
}

.Shakess{
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(244, 246, 248);
    border:2px solid darkgoldenrod;
    color:darkgoldenrod ;  
}

.Dinnerr{
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(244, 246, 248);
    border:2px solid darkgoldenrod;
    color:darkgoldenrod ;  
}

.items{
    margin-left: 30px;
}
img{
    width:200px;
   
}

#ima{
    border: 5px solid darkgoldenrod;
    border-radius: 10px;
}

.r1{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 50px;
    gap: 250px;
}

.alin{
    display: flex;
}

.heading{
    font-size: 25px;
    margin-left: 220px;
    font-family: "Ubuntu Condensed", sans-serif;
}
.content{
    width: 280px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    color:rgb(76, 98, 136);   
    font-family: 'Times New Roman', Times, serif;  
}

span{
    color:darkgoldenrod;
    margin-left: 15px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.line{
    background-color: cadetblue;
    width: 300px;
}


